# Turn on the rewrite engine
RewriteEngine On

# If the requested file or directory doesn't exist...
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ...redirect the request to index.php
RewriteRule ^ index.php [QSA,L]
